<div id="chatHeader"><h3>Chat using WebSockets</h3></div>
<div id="chatContent"></div>
<div>
    <textarea rows="2" id="tbChatInput"></textarea>
</div>

<div class="form-horizontal">
    <input id="tbChangeName" type="text" placeholder="New nickname"/>
    <button class="btn btn-mini" id="btnChangeName">Change name</button>
</div>
