<!-- Home Logo -->
<a class="homeLogo" href="#">Marionette-Pet</a>

<!-- Header Links -->
<div class="headerLinksContainer">
    <ul>
        <li class="headerLinkListItem"><a href="#" class="headerLink">Home</a></li>
        <li class="headerLinkListItem"><a href="#chat" class="headerLink">Chat</a></li>
        <li class="headerLinkListItem"><a href="#about" class="headerLink">About</a></li>
        <li class="headerLinkListItem"><a href="#contact" class="headerLink">Contact</a></li>
    </ul>
</div>

<!-- Mobile Menu Button -->
<a class="mobileMenuButton">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</a>