<h3>Hello!</h3>
<p>This is a demo project that I've created in cooperation with Conmio Ltd. for my thesis.</p>
<p>I chose to create a WebSocket application to see if the technology is ready for the company to start using in customer projects.</p>
<p>We have a specific stack of technologies we use at Conmio Ltd., so this project was also to see how compatible WebSockets are with them.</p>

<br/>

<h4>A little bit about this app:</h4>
<p>The back-end is created with Grails 2.2.3.</p>
<p>For the WebSocket server, the project uses the Grails Atmosphere Plugin, which gracefully handles fallback to Comet (long-polling and streaming).</p>
<p>The back-end also uses a proprietary Grails plugin owned by Conmio Ltd. for client device recognition.</p>

<br/>

<p>The front-end end is a single-page application built with Backbone Marionette,</p>
<p>and templates are handled with Handlebars.js</p>
<p>JavaScript modules are handled with require.js</p>
<p>The front-end also uses a proprietary swiping library called juissi.swipe.js owned by Conmio Ltd.</p>

<br/>

<h4>Your device information:</h4>
<p>Browser Vendor: {{browserVendor}}</p>
<p>Model: {{deviceModel}}</p>
<p>Operating System: {{deviceOS}}</p>
<p>Browser: {{browser}}</p>