body {
    padding: 0 10px;
    box-sizing: border-box;
}

header {
    margin: 20px 0;
}

.clear {
    clear: both;
    float: none;
}

.title {
    display: inline-block;
}

.subtitle {
    display: inline-block;
    color: #808080;
    font-style: italic;
}

.newMatchModal, .closeOverlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.65);
}

.btCreateMatch {
    width: 150px;
}

.btGenerateRandomNames{
    color: #808080;
    float: right;
    text-decoration: underline;
    cursor: pointer;
}

.newMatchWindow {
    width: 70%;
    margin: 25% auto 0 auto;
    background: white;
    padding: 20px;
}

.teamList {
    padding: 20px;
}

.additionalTeamItem {
    padding: 5px 0;
}

.tbTeamName {
    margin: 0 !important;
}

#ongoingMatches, #finishedMatches {
    border: solid 2px black;
    margin: 15px 0;
    padding: 15px;
    box-sizing: border-box;
}

.matchItem{
    padding: 10px 0;
    border-bottom: solid 2px lightgray;
}

.matchItem:nth-child(1){
    border-top: solid 1px lightgray;
}

.teambox {
    display: inline-block;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

.teamboxLeft {
    float: left;
    border-right: double 1px lightgrey;
}

.teamboxRight {
    float: right;
}

.teamname {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.scorebox {
    text-align: center;
}

.btEndMatch {
    display: block;
    margin: 15px auto;
}