/* --- Header Styles --- */
.headerView {
    display: block;
    position: relative;
    width: 100%;
    line-height: 40px;
    background: #333;
	overflow: hidden;
    clear: both;
}

.homeLogo {
    display: inline-block;
    float: left;
    color: #999;
    font-size: 20px;
    font-weight: 200;
    margin: 0 0 0 20px;
}

.homeLogo:hover, .headerLink:hover {
    color: #fff;
    text-decoration: none;
}

.headerLinksContainer {
    float: left;
    position: relative;
	background: #333;
}

.headerLinkListItem {
	margin: 0 0 0 20px;
	float: left;
    position: relative;
}

.headerLink {
    color: #999;
    margin: 0 10px;
	display: block;
	width: 100%;
	height: 100%;
}

.mobileMenuButton {
    display: block;
	position: absolute;
	top: 5px;
	right: 30px;
    padding: 6px 15px;
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.1), 0 2px 0 rgba(255, 255, 255, 0.075);
    border: 1px solid #bbbbbb;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.26);
    background-image: -webkit-linear-gradient(top, rgb(0, 0, 0), rgb(85, 85, 85));
    background-position: 0 41px;
    -webkit-transition: background-position 0.01s linear;
}

.mobileMenuButton:active {
    top: 6px;
	right: 29px;
    background-position: 0 38px;
}

.icon-bar {
    display: block;
    margin-top: 2px;
    width: 18px;
    height: 3px;
    background-color: #f5f5f5;
    border-radius: 2px;
    -webkit-border-radius: 2px;
}

/* Header styles end */

/* Main Content Region Styles */
#mainContentRegion {
    display: block;
    position: relative;
    width:100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 20px 20px 0 20px;
}

.mainLayout {
    width: 100%;
    overflow: hidden;
}

/* Main Content Region Styles end*/

/* Person list styles */
.personItemView {
    float: left;
    margin: 0 5px 5px 0;
    padding: 5px;
    border: solid 1px black;
    border-radius: 4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.personItemView .cardPicture {
    width: 50px;
    margin-right: 10px;
    float: left;
}

.personItemView .cardText {
    margin-left: 60px;
}
 /* Person list styles end */

/* Chat styles */
#chatHeader h3 {
    margin: 0 0 10px 0;
}

#chatContent {
    height: 350px;
    overflow: auto;
    border: solid 1px rgb(244,244,244);
}

.messageItemView {
    margin: 10px 0;
    padding: 10px;
}

.messageItemView:nth-child(even) {
    background: rgb(244,244,244);
}

.messageHeader {
    margin: 0 0 5px 0;
}

.messageAuthor, .messageTime {
    color: rgb(170,170,170);
    display: inline-block;
}

.messageTime {
    float: right;
    font-size: .75em;
    font-weight: lighter;
}

#tbChatInput {
    height: 40px;
    width: 99%;
    margin: 10px 0 0 0;
    border: solid 1px rgb(170,170,170)
}

#changeName {
    color: rgb(100,100,255);
    font-size: 0.8em;
    font-weight: lighter;
    text-decoration: underline;
    display: inline-block;
    margin: 5px 0;
}

#changeName:hover {
    cursor: pointer;
}

.tooltip:hover:after {
    content: attr(title);
    position: absolute;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0.85);
    padding: 3px 7px;
    color: #FFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-left: 7px;
    margin-top: -3px;
}
/* Chat sytles end */


/*--- Media Queries ---*/

/*Desktops*/
@media (min-width: 1025px) {
    .personItemView {
        width: 24.3%;
    }

    .mobileMenuButton {
        display: none;
    }

    .headerLinksContainer, .headerLinkListItem {
        display: inline-block !important;
    }
}

/*All excluding desktop*/
@media (max-width: 1025px) {
    .mobileMenuButton {
        display: block;
    }

    .headerLinksContainer {
        display: none;
		width: 100%;
    }
	
	.headerLinkListItem {
		width: 100%;
		display: block;
	}
}

/*Tablets*/
@media (min-width: 751px) and (max-width: 1024px) {
    .personItemView {
        width: 32.5%;
    }
}

/*Small Tablets*/
@media (min-width: 515px) and (max-width: 750px) {
    .personItemView {
        width: 48.9%;
    }
}

/*Phones*/
@media (max-width: 514px) {
    .personItemView {
        width: 100%;
        min-width: 231px;
        margin: 0 0 5px 0;
    }
}
